<%= stylesheet_link_tag "application" %>

<%= form_with model: [post, comment] do |form| %>

    <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do | message | %>
            <p> <%= message %> </p>
        <% end %>
    <% end %>

    <%= form.label :content %> <br>
    <%= form.text_area :content %> <br>

    <%= form.submit class: "styled_button" %>
<% end %>

<div class = "styled_button">
    <%= link_to "Back", posts_path%>
</div>